{% extends 'partials/base.html' %}
{% block title %} Form {% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-8 offset md-2">
      <div class="card shadow">
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group text-center">
              <label for="{{ form.name.id_for_label }}" >Name</label>
              {{ form.name }}
            </div>
            <div class="form-group text-center">
              <label for="{{ form.age.id_for_label }}">Age</label>
              {{ form.age }}
            </div>
            <div class="form-group text-center">
              <label for="{{ form.polyuria.id_for_label }}">Polyuria</label>
              {{ form.polyuria }}
            </div>
            <div class="form-group text-center">
              <label for="{{ form.hypotonic_urine.id_for_label }}">Hypotonic urine</label>
              {{ form.hypotonic_urine }}
            </div>
            <div class="form-group text-center">
              <div class="input-container">
                <label for="id_thirst" id="thirst">Thirst</label>
                {{ form.thirst }}
              </div>
            </div>
            <div class="form-group text-center">
              <label for="{{ form.serum_osmolality.id_for_label }}">Serum osmolality</label>
              {{ form.serum_osmolality }}
            </div>
            <div class="form-group text-center">
              <label for="{{ form.serum_sodium.id_for_label }}">Serum sodium</label>
              {{ form.serum_sodium }}
            </div>
            <button type="submit" id="pred" class="btn btn-primary" name="predict" value="predict" {% if form.errors %}disabled{% endif %}>Predict</button>
            <button type="submit" id="pred2" class="btn btn-primary" name="view-tree" value="view-tree" {% if form.errors %}disabled{% endif %}>Predict with Visualization</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br></br>
<a href="{% url 'definitions'%}"><i id="heart" class="fas fa-heartbeat pulse fa-5x"></i></a>
<br>
<a class="btn" id="btn2"href="{% url 'definitions'%}">Definitions</a>

<style>


.card {
  background-color: rgba(36, 37, 39, 0.3);
  margin-top: 50px;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  margin-top: 10px;
  color:aquamarine;
}
#btn2 {
  color:rgb(0, 249, 166);
  position: absolute;
  top: 46%;
  right: 0.5%;
  transform: translateY(-50%);
}

#pred,#pred2 {
  background-color: transparent;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 1.3rem;
  color: white;
  border: 1px solid #03e9f4;
  font-size: 20px
}

#pred:hover, #pred2:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

#heart {
  color:rgba(198, 208, 216, 0.3);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
#heart:hover{
  color:#214f6e
  
}
#thirst {
  margin-left: 0px;
}
.input-container {
  display: flex;
  align-items: center;
  width: 250px;
}
select#id_thirst {
  background-color: transparent;
  border: 1px solid #03e9f4;
  color: white;
}

select#id_thirst option {
  background-color: transparent;
  color: white;
}

select#id_thirst:focus {
  outline: none;
  border-color: transparent;
}

select#id_thirst:focus option {
  background-color: #0b1a24;
  color: #fff;
}

.input-container select {
  margin-left: 150px;
  background-color: transparent;
  border: 1px solid #03e9f4;
  color: white;
}

label {
  display: inline-block;
  text-align: left;
  width: 150px;
  color: white;
  font-size: 18px

}

input {
  display: inline-block;
  margin: 0;
  background-color: transparent;
  color: white;
  border-radius: 25px;
  border: 1px solid #03e9f4;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
input:hover, select:hover {
  border-color: transparent;
  box-shadow: 0 0 0 3px #03e9f4;
}

</style>

{% endblock %}
