{% extends 'partials/base.html' %}

{% load static %}

{% block title %} Tree Visualization {% endblock %}

{% block content %}

<!-- load the d3.js library -->	
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<div id="tree"></div>
<script>
var treeData = [
  {
    "name": "hypotonic urine<=1.006",
    "parent": "null",
    "children": [
      {
        "name": "polyuria<=302",
        "parent": "hypotonic urine<=1.006",
        "children": [
          {
            "name": "thirst <= 0.5",
            "parent": "polyuria<=302",
            "children": [
              {
                "name": "Healthy",
                "parent": "thirst <= 0.5"
              },
              {
                "name": "Diabetes Insipidus",
                "parent": "thirst <= 0.5"
              }
            ]
          },
          {
            "name": "Adipsic Diabetes Insipidus",
            "parent": "polyuria<=302"
          }
        ]
      },
      {
        "name": "thirst<=0.5",
        "parent": "hypotonic urine<=1.006",
        "children": [
          {
            "name": "Osmotic Diuresis",
            "parent": "thirst<=0.5"
          },
          {
            "name": "Fluid Overload",
            "parent": "thirst<=0.5"
          }
        ]
      }
    ]
  }
];


// ************** Generate the tree diagram	 *****************
var margin = {top: -100, right: 100, bottom: 300, left: 140},
	width = 1000 - margin.right - margin.left,
	height = 1000 - margin.top - margin.bottom;
	
var i = 0,
	duration = 750,
	root;

var tree = d3.layout.tree()
	.size([height, width]);

var diagonal = d3.svg.diagonal()
	.projection(function(d) { return [d.y, d.x]; });

var svg = d3.select("body").append("svg")
	.attr("width", width + margin.right + margin.left)
	.attr("height", height + margin.top + margin.bottom)
  .append("g")
	.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

root = treeData[0];
root.x0 = height / 2;
root.y0 = 0;
  
update(root);

d3.select(self.frameElement).style("height", "500px");

function update(source) {

  //compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
	  links = tree.links(nodes);

  //normalize for fixed-depth.
  nodes.forEach(function(d) { d.y = d.depth * 180; });

  //update the nodes…
  var node = svg.selectAll("g.node")
	  .data(nodes, function(d) { return d.id || (d.id = ++i); });

//enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
    .on("click", click);


  nodeEnter.append("circle")
	  .attr("r", 1e-6)
	  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeEnter.append("text")
	  .attr("x", function(d) { return d.children || d._children ? -13 : 13; })
	  .attr("dy", ".35em")
	  .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
	  .text(function(d) { return d.name; })
	  .style("fill-opacity", 1e-6);

  //transition nodes to their new position.
  var nodeUpdate = node.transition()
	  .duration(duration)
	  .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
	  .attr("r", 10)
	  .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeUpdate.select("text")
	  .style("fill-opacity", 1);

  //transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
	  .duration(duration)
	  .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
	  .remove();

  nodeExit.select("circle")
	  .attr("r", 1e-6);

  nodeExit.select("text")
	  .style("fill-opacity", 1e-6);

  //update the links…
  var link = svg.selectAll("path.link")
	  .data(links, function(d) { return d.target.id; });

  //enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
	  .attr("class", "link")
	  .attr("d", function(d) {
		var o = {x: source.x0, y: source.y0};
		return diagonal({source: o, target: o});
	  });

  //transition links to their new position.
  link.transition()
	  .duration(duration)
	  .attr("d", diagonal);

  //transition exiting nodes to the parent's new position.
  link.exit().transition()
	  .duration(duration)
	  .attr("d", function(d) {
		var o = {x: source.x, y: source.y};
		return diagonal({source: o, target: o});
	  })
	  .remove();

  //stash the old positions for transition.
  nodes.forEach(function(d) {
	d.x0 = d.x;
	d.y0 = d.y;
  });
}

//toggle children on click.
function click(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  update(d);
}



</script>
</div>


<form method="POST" action="{% url 'dashboard-predictions' %}">
  {% csrf_token %}
  <div class="next">
  <button type="submit" id="btn">Next</button>
  </div>
</form>

<style>
  .name{
    color:white;
  }
	.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
    fill: white;

	}
  .text{
    color: white;
  }
	.link {
	  fill: none;
	  stroke: #cccccc;
	  stroke-width: 2px;
	}
  .tree{
    position: relative;
  }
  .next {
    position: fixed;
    bottom: 5px;
    right: 5px;
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: steelblue;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #149ba000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.next:hover,
.next:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.next:active {
  background: var(--color);
  color: #1fd1d7;
}

#btn {
  border: 1.3rem;
  border-color: rgb(35, 67, 92);
  color: rgb(35, 67, 92);
  font-weight: bold;
}

</style>
</html>

{%endblock%}
